<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>分配权限</title>

        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{ background-color: #9F88FF }
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：角色管理-》角色分配权限 【{$role_info.role_name}】</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{$smarty.const.__CONTROLLER__}/show">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>
        <div style="font-size: 13px; margin: 10px 5px;">
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="role_id" value="{$role_info.role_id}" />
                <table border="1" width="100%" class="table_a">
                    {foreach $auth_infoA as $k => $v}
                    <tr>
                        <td width="18%">
                            <input type="checkbox" name="authid[]" value="{$v.auth_id}" {if in_array($v.auth_id,$have_auth)}checked="checked"{/if} />{$v.auth_name}
                        </td>
                        <td>
                            {foreach $auth_infoB as $kk => $vv}
                            {if $vv.auth_pid == $v.auth_id}
                            <div style="width: 200px; float:left">
                                <input type="checkbox" name="authid[]" value="{$vv.auth_id}" {if in_array($vv.auth_id,$have_auth)}checked="checked"{/if} />{$vv.auth_name}
                            </div>
                            {/if}
                            {/foreach}
                        </td>
                    </tr>
                    {/foreach}
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="分配权限" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>












